<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <title>Document</title>
    <style>
        .dropdown {
            float: left;
            overflow: hidden;
        }

        .dropdown .dropbtn {
            font-size: 16px;
            border: none;
            outline: lightgrey;
            color: black;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        label {
            font-weight: bold;
        }

        .lba {
            font-weight: normal;
        }

        a {
            font-weight: normal;
            padding-left: 10px;
        }

        should {
            color: red;
        }
    </style>
</head>

<body>
    <div style="border-color: lightgrey; border-style: solid; padding:8px;">


        <h2> 2021년 2학기 전전 그룹 스터디 그룹 신청 </h2>
        <!-- <span style="font-size: 20px; font-weight: bold; margin-right:100px;"> Year </span>
    <span style="font-size: 20px; font-weight: bold;"> Semester </span> -->
        <form method="POST" action="" id="dataform">


            <hr>
            <span font-size:20px;>(아래 유의사항 꼼꼼히 읽으세요)<br>
                <br>
                안녕하세요. 전산전자공학부 학생들의 학부 전공 공부 학습 경험을 최대화 하고자, 2019년도 1학기 부터 스터디 그룹을 매칭하여 함께 공부하는 전전의 문화를 만들어 가고 있습니다. 작년에
                코로나
                상황에도 불구하고 어느 학기 보다 많은 그룹이 스터디를 시작였습니다. 스터디를 통해 많은 학생들이 코로나 상황에서도 좋은 학습 성과를 낼 수 있었습니다.<br>
                <br>
                가급적이면, 동아리나 학회 s-lab등의 활동을 통해 전공 학습 경험을 증대 시키기 권장하나, 여러가지 이유로 모두 하지 않는다면 같은 과목을 공부하는 학우들끼리 함께 정기적으로 모여
                공부를
                하면서 전전 학생으로서의 소속감도 키우고, 학업 성취도 얻기 바랍니다.<br>
                <br>
                !!!!! 주 의 !!!!! 학회나 동아리 활동 목적의 스터디는 여기에 신청하면 안됩니다. 학회 활동을 통해 마일리지가 부여되기 때문에 중복 수여 문제가 있습니다. 본 스터디 그룹은
                학회나 전산
                동아리 활동을 하지 못해 스터디 그룹을 만들기 어려운 학생들을 위해서 진행되는 활동입니다.<br>
                <br>
                이 번 학기는 코로나 바이러스로 등교가 연기된 관계로, 온라인으로 먼저 시작할 그룹과 등교 후 오프라인 스터디를 할 그룹으로 나누어서 매칭을 진행할 예정입니다.<br>
                <br>
                *****혜택*****<br>
                - 정해진 횟수 이상의 스터디 그룹 모임을 진행하면 소중대 마일리지가 부여됩니다.<br>
                (마일리지의 힘이 얼마나 막강한지는 알 사람은 잘 알겁니다!!)<br>
                - 전공 공부를 다른 학우들과 서로 도움을 받아가며 하면서 성적이 향상될 수 있습니다.<br>
                - 전전의 다른 학우들과 좋은 관계를 맺을 수 있는 기회.<br>
                <br>
                ** 일정
                - 스터디 그룹 신청: 2021년 3월 5일 까지. 1차 매칭: 3월 7일 까지, 그룹 조정: 3월 16일 까지<br>
                (대면 및 비대면 스터디 그룹 병행)<br>
                - 스터디 그룹 시작: 2주차 부터<br>
                - 스터디 그룹 종료: 기말고사 기간까지.<br>
                <br>
                **스터디 그룹 신청시 유의사항**<br>
                (1) 전전관련 동아리나 학회, s-lab에 등에 소속될 수 있다면,<br>
                그 기회를 먼저 잡으면 좋을 것 같습니다.<br>
                (2) 그렇더라도 스터디 그룹을 하고 싶은 학생들은 누구나 신청이 가능합니다.<br>
                (대신 성실하게 할 수 있어야 합니다. 동아리 멤버끼리 하는 스터디가 아니어야 함.)<br>
                (3) 선호에 따라 주제별 스터디 그룹(예: C++ 스터디, 보안 스터디)과<br>
                일반 스터디 그룹(공통으로 듣는 수업 1개 이상 일치하는 학생들 매칭) 구성.<br>
                같은 스터디 그룹에서 공부하기로 이야기 된 학우가 있는 경우 정보 추가입력<br>
                쌍방이 모두 입력시 같은 그룹으로 묶어줄 예정<br>
                (4) 한 학기당 하나의 스터디 그룹만 가능하게 제한 (매칭 문제로 불가피할 경우 2개 그룹까지 가능)<br>
                (5) 최소 1시간 짜리 스터디 10회 이상 모임을 달성했을 경우에 소중대 마일리지 지급<br>
                모임 증빙으로, histudy 시스템을 통해 스터디 인증을 해야 함. (추후 안내 예정)<br>
                * 만약에 목표 모임 횟수를 달성하지 못했을 경우,<br>
                다음 학기 스터디 그룹 매칭 우선순위에서 밀려날 수 있음.<br>
                (6) 스터디 그룹 가이드 라인<br>
                - 3~5인이 한 그룹<br>
                - 진도에 따른 수업 내용 예/복습이 목적이고<br>
                함께 숙제 하는 것을 허락하지 않는 과목 숙제 스터디 금지.<br>
                - 중도 포기하는 그룹원이 생기는 그룹 발생시 결원 보강할 수 있음.<br>
                - 수업의 특성상 이미 그룹으로 진행이 되는 수업일 경우 매칭에서 제외 되니 신청하지 마세요.<br>
                (예, 남재창 교수 Software Engineering, 김인중 교수님 OS 수업,<br>
                딥러닝 개론, AI프로젝트 입문 수업은 매칭에서 제외.<br>
                예외 과목 계속 추가될 수 있음)<br>
                <br>
                기타 문의: 남재창 교수 (jcnam@handong.edu)<br><br>

                <input type="checkbox" name="check_notice" required />유의사항을 확인하였습니다.<should> *</should>

                <br><br></span>
            <hr><br>



            <label for="question">학번<should> *</should></label><br>
            <a>
                <input type="text" name="student_id" pattern="[0-9]{8}" maxlength="8" style="width:150px;" required>
            </a>
            <br><br>

            <label for="question">이름(ex.홍길동)<should> *</should></label><br>
            <a>
                <input type="text" name="name" style="width:200px;" required>
            </a>
            <br><br>

            <label for="question">성별<should> *</should></label><br>
            <div>
                <input type="radio" id="man" name="gender" value="man">
                <label class="lba" for="man">남자</label>
            </div>
            <div>
                <input type="radio" id="woman" name="gender" value="woman">
                <label class="lba" for="woman">여자</label>
            </div>
            <br>

            <label for="question">휴대전화번호<should> *</should></label><br>
            <a>
                <input type="text" name="phone" pattern="[0-9]{11}" maxlength="11" style="width:150px;" required>
            </a>
            <br><br>

            <label for="question">스터디 그룹 선호 유형<should> *</should></label><br>
            <div>
                <input type="radio" id="online" name="study_type" value="online">
                <label class="lba" for="online">비대면 스터디로만 매칭</label>
            </div>

            <div>
                <input type="radio" id="offline" name="study_type" value="offline">
                <label class="lba" for="offline">대면 스터디로만 매칭</label>
            </div>

            <div>
                <input type="radio" id="both" name="study_type" value="both">
                <label class="lba" for="both">비대면/대면 상관없음</label>
            </div>

            <br>

            <label for="question">함께 스터디 그룹하기로 이야기 된 학우 정보 있다면 기입. 해당 학우들도 반드시 신청을 따로 해야 함. (이름과 스마트폰 마지막 4자리.) <br>예:
                홍길동(1234), 김길동(2345) 우선순위 과목도 일치해야 함.</label><br>
            <input type="text" name="want_member" style="width:400px;">
            <br><br>



            <br>
            <hr>
            <span font-size:20px;><br>2021년 1학기 개설과목 목록 (매칭 제외 과목은 목록에서 삭제 함.)<br>
                https://docs.google.com/spreadsheets/d/1N2bKcItkwL8q3mEDYHxle8su2WY1rMNI9yNlNqqCWCM/edit#gid=0<br>
                <br>
                스터디 하고 싶은 과목 우선순위대로 3순위까지 아래 적어주세요.<br>
                1순위 기준으로 매칭이 됩니다.<br>
                <br>
                수강 과목 위주가 아닌, 특별한 주제의 스터디를 하고 싶은 학생들은 1순위 칸에 스터디 주제를 적어주세요. (불편하겠지만 1순위 정보는 필수 입력칸이라
                과목코드, 과목명, 교수님 성함 칸에 주제 복붙해서 입력하세요.)<br>
                <br>
                * 이미 그룹으로 이루어지는 수업이나 과목의 특성상 스터디를 허락하지 않은 과목은 스터디 신청을 할 필요가 없습니다. 신청해도 매칭안됨.<br>
                (예, 남재창 교수 Software Engineering, 김인중 교수님 OS 수업,
                딥러닝 개론, AI프로젝트 입문 수업은 매칭에서 제외.
                예외 과목 계속 추가될 수 있음)<br><br>
            </span>
            <hr>
            <br>

            <label for="question">1순위 매칭 과목코드 (예: ITP20005)<should> *</should></label><br>
            <input type="text" name="class1_code" maxlength="8" style="width:200px;" required>
            <br><br>

            <label for="question">1순위 매칭 과목명 (예: Programming Language Theory)<should> *</should></label><br>
            <input type="text" name="class1_name" style="width:200px;" required>
            <br><br>

            <label for="question">1순위 매칭 과목 교수님 성함<should> *</should></label><br>
            <input type="text" name="class1_prof" style="width:200px;" required>
            <br><br>

            <label for="question">2순위 매칭 과목코드 (예: ITP20005)</label><br>
            <input type="text" name="class2_code" maxlength="8" style="width:200px;" >
            <br><br>

            <label for="question">2순위 매칭 과목명 (예: Programming Language Theory)</label><br>
            <input type="text" name="class2_name" style="width:200px;">
            <br><br>

            <label for="question">2순위 매칭 과목 교수님 성함 </label><br>
            <input type="text" name="class2_prof" style="width:200px;">
            <br><br>

            <label for="question">3순위 매칭 과목코드 (예: ITP20005)</label><br>
            <input type="text" name="class3_code" maxlength="8" style="width:200px;" >
            <br><br>

            <label for="question">3순위 매칭 과목명 (예: Programming Language Theory)</label><br>
            <input type="text" name="class3_name" style="width:200px;">
            <br><br>

            <label for="question">3순위 매칭 과목 교수님 성함 </label><br>
            <input type="text" name="class3_prof" style="width:200px;">
            <br><br>

            <label for="question">기타 요청사항</label><br>
            <input type="text" name=demand style="width:400px;">
            <br><br>

            <hr>
            <br>

            <label for="question">영어로 진행되는 스터디도 괜찮습니까?</label><br>
            <div>
                <input type="radio" id="yes" name="english_ok" value="yes">
                <label class="lba" for="yes">예</label>
            </div>
            <div>
                <input type="radio" id="no" name="english_ok" value="no" checked>
                <label class="lba" for="woman">아니오</label>
            </div>
            <br>

            <label for="question">전산관련 학회나 동아리를 함께 하는 친구들과 스터디를 하는 건가요?</label><br>
            <div>
                <input type="radio" id="yes" name="club_study" value="yes">
                <label class="lba" for="yes">예</label>
            </div>
            <div>
                <input type="radio" id="no" name="club_study" value="no" checked>
                <label class="lba" for="woman">아니오</label>
            </div>
            <br>

            <label for="question">전산관련 학회나 동아리를 하고 있습니까?</label><br>
            <div>
                <input type="radio" id="yes" name="do_club" value="yes">
                <label class="lba" for="yes">예</label>
            </div>
            <div>
                <input type="radio" id="no" name="do_club" value="no" checked>
                <label class="lba" for="woman">아니오</label>
            </div>
            <br>

            <label for="question">전전관련 동아리나 학회를 하고 있다면 동아리/학회 이름을 적어주세요</label><br>
            <input type="text" name="club_name" style="width:400px;">
            <br><br>

            <label for="question">개인정보제공에 동의합니까? (동의하지 않으면 스터디 신청이 안 됨)<should> *</should></label><br>
            <div>
                <input type="radio" id="yes" name="info_agree" value="yes" checked required>
                <label class="lba" for="yes">예</label>
            </div>
            <div>
                <input type="radio" id="no" name="info_agree" value="no">
                <label class="lba" for="woman">아니오</label>
            </div>
            <br>


            <br>
            <button type="submit" style="margin-top: 10px;"> 제출 </button>

</body>

</html>